.login{
  color:blue;
  float:right;
  margin-right:5%;
}
#tabs{

}
#logo {
  float:left;
}
#othertabs {

}
h3 {
  text-decoration: underline;
  margin-left: 40px;
}
.wikisidebar {
  margin-left: 1px;
  list-style-type: none;
}
.nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 40px;
}
#tabmargin{
  padding-right: 700px;
}
#searchbar{
  width: 200px;
}
.welcome{
  background-color: lightgrey;
  margin-top: 10px;
  padding-left: 10px;
}
#welcomelist{
padding-top: 60px;
color: blue;
}
#test {
  float: right;
}

#icehotel{
float: right;
}
